/Source/.vs/ConsoleUtility/v15
/Source/ConsoleUtility.Test/obj
/Source/ConsoleUtility/.vs
/Source/ConsoleUtility/obj
/Source/Example/obj
/Source/packages
/Source/ConsoleUtility.Test/bin
/Source/ConsoleUtility/bin
/Source/Example/bin
